body {
  background-color: beige;
  font-family: "Roboto" sans-serif;
}
a {
  color: rgb(0, 102, 255);
}

.weather {
  background-color: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 20px;
  border-radius: 18px;
}
header {
  border-bottom: 1px solid rgba(218, 202, 181, 0.938);
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: beige;
  width: 70%;
  border: none;
  border-radius: 4px;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  padding: 15px 20px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  width: 20%;
  background-color: burlywood;
  color: black;
}

main {
  padding: 30px 0;
}
.weather-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.weather-app-details strong {
  color: goldenrod;
}

footer {
  border-top: 1px solid rgba(218, 202, 181, 0.938);
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgb(0, 0, 0, 0.6);
}
